body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.botao {
  text-decoration: none;     
  background-color: blue;    
  color: white;             
  padding: 10px 20px;        
}

.botao:hover {
  background-color: darkblue; 
}
